<!doctype html>
<html class="no-js" lang="en">
<head>
	<script src="js/vendor/jquery.min.js"></script>

	<link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/jquery.Jcrop.css" type="text/css">
</head>
<body>
	
	<!-- HEADER -->
	<div class="row column">
		<p><!-- header --></p>
	</div>
	
	
	
	
	
	
	
	
	
	<!-- EDIT TABS -->
	<div class="row" style="margin-bottom: 2em;">
		
		<div class="medium-4 columns end" style="/*overflow: auto; max-height: 550px;*/">
			<label>
				Aspect ratio
				<input type="text" id="input_aspect_ratio">
			</label>
			
			<!-- files -->
			<ul id="files-container" style="overflow: auto; white-space: nowrap; padding: 0; margin: 0;"></ul>
			<script type="text/html" id="template">
				<li data-content="file"></li>
			</script>
			
		</div>
		
		<div class="medium-8 columns" style="/*overflow: auto; max-height: 550px;*/">
			<img src="" id="target" alt="[Jcrop Example]">
			<!-- <img src="ann_img?path=/var/vision/datasets/sareme/20140429/LPR.20140429.0000003753-1_20140429182537614_UVG549.jpg" id="target" alt="[Jcrop Example]"> -->
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	<!-- SAVE BUTTON -->
	<div class="row" style="margin-bottom: 2em;">
		<div class="medium-12 columns text-right">
			<a href="#" class="button" id="save">Save</a>
		</div>
	</div>
	
	<!-- INFO -->
	<div class="row" style="margin-bottom: 2em;">
		<div class="medium-12 columns">
			<p id="info">
				
			</p>
		</div>
	</div>
	
	<script src="js/jquery.loadTemplate-1.5.0.min.js"></script>
	
	
	
	
	
	
	
	<style type="text/css">
		.active {/*background-color: blue;*/ color: red;}
	</style>

	<script>
		$(function()
		{
			var the_json = {};
			var current_image = 0;
			var jcrop_api;
			
			
			// jcrop
			// I did JSON.stringify(jcrop_api.tellSelect()) on a crop I liked:
			// var c = {"x":13,"y":7,"x2":487,"y2":107,"w":474,"h":100};
			
			function init_jcrop()
			{
				$('#target').Jcrop(
				{
					bgFade: true,
					keySupport: false,
					//setSelect: [c.x,c.y,c.x2,c.y2],
					// onChange:  show_coords,
					// onChange: function(){ console.log("onChange") },
					//onSelect: function(){ console.log("onSelect") },
					onSelect:  save_coords,
					onRelease:  clear_coords
				},function(){

					jcrop_api = this;
				});
			}
			init_jcrop();
			
			function show_coords(c)
			{
				// $('#info').text( JSON.stringify(jcrop_api.tellSelect()) + "br" + JSON.stringify(the_json));
				// $('#info').text( JSON.stringify(the_json));
			};
			function save_coords(c)
			{
				//$('#info').text( JSON.stringify(jcrop_api.tellSelect()) );
				the_json[current_image].box = jcrop_api.tellSelect();
				// $('#info').text( JSON.stringify(jcrop_api.tellSelect()) + "br" + JSON.stringify(the_json));
				// $('#info').text( JSON.stringify(the_json));
			};
			
			function clear_coords()
			{
				$('#info').text('');
			};
			
			// image looping
			$(document).on("keydown", function(e)
			{
				if (e.which == 74)
				{
					index = Math.min(current_image + 1, the_json.length-1 );
					change_current_image(index, 0)
					// console.log("up: " + index);
				}
				if (e.which == 75)
				{
					index = Math.max(current_image - 1, 0 );
					change_current_image(index, 0)
					// console.log("down: " + index);
				}
				// console.log(e.which);
			});
			
			// load files
			$.get( "/get_json", function( data )
			{
				the_json = $.parseJSON(data); ;
				$("#files-container").loadTemplate($("#template"), the_json);
				change_current_image(0, 500);
			});
			
			$("#save").on("click", function()
			{
				$.ajax("/save_json", {
					data : JSON.stringify(the_json),
					contentType : 'application/json',
					type : 'POST'
				});
				return false;
			});
			
						
			function change_current_image(image_index, selection_delay)
			{
				// if (jcrop_api) jcrop_api.destroy();
				
				$( "ul#files-container li:nth-child("+(current_image+1)+")" ).removeClass( "active" );
				// $.each(the_json, function( index, value )
				// {
				// 	if (index == image_index)
				// 	{
				// 	}
					
				// });
				
				current_image = image_index;
				
				$( "ul#files-container li:nth-child("+(current_image+1)+")" ).addClass( "active" );
				jcrop_api.setImage('ann_img?path=' + the_json[current_image].file);
				
				if ( !jQuery.isEmptyObject( the_json[current_image].box ) )
				{
					var box = the_json[current_image].box;
					setTimeout(function(){ draw_selection(box); }, selection_delay);
				} 
			}
			
			function draw_selection(box)
			{
				jcrop_api.setSelect( [box.x, box.y, box.x2, box.y2] );
			}
		});
		
	</script>



	<script src="js/jquery.Jcrop.js"></script>
	

	<script src="js/vendor/what-input.min.js"></script>
	<script src="js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>